@model KareClass.Models.Department

@{
    ViewData["Title"] = "Bölüm Detayları";
}
<div class="container">
<h1>Bölüm Detayları</h1>

<div class="card mb-4">
    <div class="card-header">
        <h4>Bölüm Bilgileri</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                Bölüm ID
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DepartmentId)
            </dd>
            <dt class="col-sm-3">
                Bölüm Adı
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DepartmentName)
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model.DepartmentId" class="btn btn-primary">Düzenle</a>
        <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
    </div>
</div>

@if (Model.Users != null && Model.Users.Any())
{
    <div class="card">
        <div class="card-header">
            <h4>Bu Bölümdeki Kullanıcılar</h4>
        </div>
        <div class="card-body">
            <div class="container-fluid p-0">
                <div class="row fw-bold mb-2">
                    <div class="col-md-3">Ad</div>
                    <div class="col-md-3">Soyad</div>
                    <div class="col-md-3">Kullanıcı Türü</div>
                    <div class="col-md-3">Email</div>
                </div>
                @foreach (var user in Model.Users)
                {
                    <div class="row py-2 border-bottom">
                        <div class="col-md-3">@user.FirstName</div>
                        <div class="col-md-3">@user.LastName</div>
                        <div class="col-md-3">@user.UserType</div>
                        <div class="col-md-3">@user.Email</div>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-info">
        Bu bölüme bağlı kullanıcı bulunmamaktadır.
    </div>
}
</div>